:root {
    --main-text-color: #13183F;
    --sub-text-color: #83869A;
    --anchor-text-color: #F74780;

    --neutral-color: #fff;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family:'Plus Jakarta Sans', sans-serif;
    line-height: 1.5;
    font-size: 1rem;
}
body,
h1,
h3,
p {
    margin: 0;
    padding: 0;
}
h1,
h3 {
    font-weight: 900;
    line-height: 1;
    color: var(--main-text-color);
    margin-bottom: 1em;
}

p {
    color: var(--sub-text-color);
    margin-bottom: 2em;
}
a{
    text-decoration: none;
    color: var(--anchor-text-color);
}
.btn {
    cursor: pointer;
    background-color: var(--main-text-color);
    border: none;
    border-radius: 20px;
    color: var(--neutral-color);
    padding: 0.7rem 1rem;
}
.hero-btn {
    background: linear-gradient(to bottom, #F02AA6, #FF6F48);
}
.footer-btn {
    background: linear-gradient(to bottom, #4851FF, #F02AA6);
}
img {
    display: block;
    max-width: 100%;
}
main {
    background: linear-gradient(to bottom, #fff,  #e1e4ff, #e4e8fe);
    padding-bottom: 6.25rem;
}
.footer {
    background-color: var(--main-text-color);
}
.nav {
    display: flex;
    padding-block: 0.9rem;
    justify-content: space-between;
    align-items: center;
}
.nav-broader {
    padding-block: 1.5rem;
}
.container {
    margin-inline: auto;
    width: min(90%, 80.5rem);
}
.container-narrow {
    width: min(90%, 45.5rem);
}

.flex {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}
.course {
    padding: 1rem;
    border-radius: 1em;
    background-color: var(--neutral-color);
    position: relative;
}
.course img {
    position: absolute;
    top: -25px;
}
.course h3 {
    margin-top: 1.5625rem;
}
.general {
    background: linear-gradient(to bottom, #F02AA6, #FF6F48);
}
.general h3 {
    color: var(--neutral-color);
}


/* Tablet View Rules */
@media only screen and (min-width: 412px) {
    header {
        position: relative;
        overflow: hidden;
        min-height: 30rem;
    }
    .container-narrow {
        width: min(90%, 20rem);
    }
    .flex {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 1.5em;
    }
    .primary-content {
        margin-top: 3em;
    }
    .flex > * {
        flex-basis: 40%;
        flex-grow: 1;
    }
    .image-container {
        position: absolute;
        top: 0px;
        right: -350px;
        z-index: -1;
    }
    .image {
        width: 70%;
    }
}
/* Desktop View Rules */
@media only screen and (min-width: 768px) {
    .flex > * {
        flex-basis: 30%;
    }
    header {
        min-height: 45rem;
    }
    .container-narrow {
        width: min(90%, 32rem);
    }
    .container-narrow h1 {
        font-size: 3.5rem;
    }
    .container-narrow p {
        font-size: 1.3rem;
    }
    .primary-content {
        margin-top: 8em;
    }
    .image-container {
        position: absolute;
        top: -80px;
        right: -160px;
    }
    .image {
        width: 100%;
    }
    .btn {
        font-size: 1.2rem;
    }
    .general h3 {
        font-size: 1.9rem;
    }
}
